body {
  margin: 0px auto;
  margin-top: 250px;
  width: 256px;
  height: 400px;
  background-color: #50275E;
}

div {
  margin-top:5px;
}

h2 {
  font-family: sans-serif;
  color: white;
  width: 256px;
  height: 20px;
  text-align: center;
}

button {
  color: black;
}

.buttons {
  margin-top: 10px;
}

.answerinput {
  margin-top: 10px;
}

#subtract {
  margin-left: 7px;
}

#multiply {
  margin-left: 7px;
}

#divide {
  margin-left: 7px;
}

input {
  background-color: rgba(0,0,0,0.3);
  height: 30px;
  font-size: 12px;
  color:white;
}

input#answer {
  width: 256px;
}
